<app-base-page></app-base-page>
<div class="container">
  <div id="contentOfPage">
    <!-- Body Section For About Page -->
<hr />
<h3 id="centreTitle" class="fontForParagraph">My name: Ali Mokheamer</h3>
<br />
<!-- Image of myself -->
<!-- Image of myself using bootstrap to style the photo -->
<img class="img-fluid myPhoto" src="assets/images/aliMokheamer.jpeg" alt="Ali Mokheamer" />
<br />
<!-- Content Section -->
<!-- This content section describes myself using the article element to give it an article look and using other custom CSS -->
<article>
  <p class="fontForParagraph">
    About me: Hello, I'm Ali Mokheamer. I am currently studying Software
    Engineering at Centennial College in Toronto, Ontario (doing my final year).
    I am a friendly and respectful person towards others and have strong
    interpersonal, leadership, and communication skills. The languages I am
    interested and good in are the following:
  </p>
  <ul style="list-style-type: square">
    <li>Java/J2EE</li>
    <li>MEAN/MERN-stack</li>
    <li>HTML/CSS</li>
    <li>C#</li>
    <li>SQL</li>
  </ul>
  <p class="fontForParagraph">
    I am also familiar with many other frameworks, languages, and technologies. They are the
    following: JavaScript (ECMA Script 5), ASP.NET, SpringBoot, JPA, MSSQL,
    MongoDB, Oracle, WPF, MS SSRS, and ETL with MSSQL.
  </p>
  <h4>Interested? Here is my resume (PDF):</h4>
  <h3><a routerLink="/my-resume">Resume</a></h3>
</article>
  </div>
</div>
