<br>
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <h4 class="navbar-brand" href="#" style="font-size: 17px">&copy; Ali Mokheamer - 2019</h4>
      </nav>
</footer>
  <!-- JavaScript Section -->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>