
 <!-- JavaScript Section -->
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
<link rel="stylesheet" href="style.css">

<footer class="page-footer text-muted">
<div class="container" style="padding-top: 5rem">
    <h4>Hello!!!</h4>
  </div>
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light fixed-bottom"> 
      <h4 class="navbar-brand" style="font-size: 18px">&copy; Ali Mokheamer - <%= new Date().getFullYear();%></h4>
      <a href="https://www.linkedin.com/in/ali-mokheamer-13220a158/" target="_blank"><i class="fa fa-lg fa-linkedin-square"></i></a>
    </nav>
  </div>
</footer>
</body>
</html>