/* Global styles
/*
   File Name: styles.css
   Student Name: Ali Mokheamer
   Student Number: 300884450
   Date: March 30, 2019
*/

/* Body Styling */
body#content {
  padding-top: 75px;
}

#contentOfPage {
  margin: 0 auto;
}

#centreTitle {
  text-align: center;
}

h1.headerForPage {
  margin: auto;
}

.centreContent {
  align-items: center;
}

p#introParagraph {
  text-align: center;
}

.fontForParagraph {
  font-family: Roboto, Arimo, Verdana, Arial, Helvetica, sans-serif;
}

.titleFont {
  font-family: Helvetica, Lato, sans-serif;
}

.textarea {
  width: 600px;
  resize: none;
}

.spaceListOfServices {
  margin-top: 4.5rem;
}

.spaceListOfProjects {
  margin-top: 5rem;
}


/* Navbar Styling */
.navbar {
  background: #123c69;
}

#logoSpacing {
  margin-left: 5%;
}

ul.alignElement {
  margin-left: 18%;
}

.spaceMenuItem {
  margin: 0 0 0 1.5rem;
}

.link-item {
  display: inline-block;
}


/* Photo styling for Services, Projects, and About Page */
.centreImageForServicesOtherImages {
  margin-left: 8rem;
}

.centreImageForServicesFirstRow {
  margin-left: 5rem;
}

#rotateTheImage {
  transform: rotate(-90deg);
}

.myPhoto {
  width: 500px;
  height: 400px;
  float: right;
  margin-top: 3rem;
  border-radius: 5px;
  /* From https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card
   What this does is it sets where the shadow of the image will cast here the top (4px) and right (8px) will have the shadow affect
   and rgba says what color do you want to set the shadow with the opacity of the shadow*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
