<% include ./partials/header.ejs %>

<!-- Body Content Here -->
<div class="container">
  <div id="contentOfPage">
    <h1 id="centreTitle" class="display-4"><%= title %></h1>
    <hr>
    <h3 id="centreTitle">My name: Ali Mokheamer</h3>
    <br>
    <br>
    <article>
        <p>About me: My name is Ali Mokheamer, I am currently studying Software Engineering at Centennial College in Toronto, Ontario
             (doing my final year). I am a friendly and respectful person towards others and have strong interpersonal and communication skills.
             The languages I am interested and good in are the following:
        </p>
        <ul>
          <li>Java/J2EE</li>
          <li>MEAN/MERN-stack</li>
          <li>HTML/CSS</li>
          <li>C#</li>
          <li>SQL</li>
        </ul>
        <p>I am also familiar with many other frameworks and technologies. They are the following: JavaScript (ECMA Script 5), ASP.NET,
           SpringBoot, JPA, MSSQL, MongoDB, Oracle, WPF, MS SSRS, ETL.
        </p>
        <h4>Interested? Here is my resume (PDF):</h4>
        <h3><a href="/my-resume">Resume</a></h3>
    </article>
  </div>
</div>

<% include ./partials/footer.ejs %>