<!-- Content Page (controls which page is shown) -->
<% include ./partials/header.ejs %>

<!-- This holds all the pages on my website (whatever is in the navbar) that will be shown in a certain way according to a condition and
     using a container to make the content look cleaner (not spanning to the width of the browser window) with custom css (to position
     content of page to be centred) -->
<div class="container">
  <div id="contentOfPage">
        <% if(title == "Home"){ %>
        <% include ./homePage.ejs %>
        <% } %>
        <% if(title == "About Me"){ %>
        <% include ./aboutMe.ejs %>
        <% } %>
        <% if(title == "My Projects"){ %>
        <% include ./projects.ejs %>
        <% } %>
        <% if(title == "Services"){ %>
        <% include ./services.ejs %>
        <% } %>
        <% if(title == "Contact Me"){ %>
        <div style="background-color: #D3D3D3">
        <p>See clients who have contacted me:</p>
        <a class="btn btn-primary" href="/contacts" role="button">Contacts</a>
        <% include ./contactMe.ejs %>
        </div>
        <% } %>
  </div>
</div>

<% include ./partials/footer.ejs %>
