<div class="container">
  <div id="contentOfPage">
    <h1 id="centreTitle" class="display-4 titleFont"><%= title %></h1>
    <br>
    <p class="fontForParagraph">To contact me, please fill out this form below</p>
    <div class="contact-form">
        <form action="">
        </form>
    </div>
    <br>
  </div>
</div>