
<div class="container">
  <div id="contentOfPage">
  <h1 id="centreTitle" class="display-4 titleFont"><%= title %></h1>
  <br>
      <div class="row">
            <img src="Assets/images/aspProject.jpg" class="img-fluid col-lg-6" alt="Add book page">
            <img src="Assets/images/aspProject.jpg" class="img-fluid col-lg-6" alt="Add book page">
      </div>
      <div class="row">
            <img src="Assets/images/aspProject.jpg" class="img-fluid col-sm-12" alt="Add book page">
      </div>
  </div>
</div>