<!-- Projects Page -->
<h1 id="centreTitle" class="display-4 titleFont"><%= title %></h1>
<br />
<!-- Content Section -->
<!-- Uses Bootstraps card to hold my image of a project I've done and the description of it
     with other bootstrap styling and custom CSS -->
<div class="container">
      <div class="card">
            <img src="Assets/images/aspProject.jpg" class="img-fluid" alt="Add book page" />
      </div>
      <div class="card-body">
            <h6>
                  This is an ASP.NET Web application that I have developed for an academic
                  project. I had the role of a full-stack developer working with HTML, CSS,
                  BootStrap, C#, and MSSQL. The outcome of this Web application was making
                  it possible to add different genres of books to the library's collection
                  and search and look at top books books based on what other users have
                  added.
            </h6>
      </div>
</div>

<!-- Uses Bootstraps card to hold my image of a project I've done and the description of it
     with other bootstrap styling and custom CSS -->
<div class="container spaceListOfProjects">
      <div class="card">
            <img src="Assets/images/Escapade.PNG" class="img-fluid" alt="Login page for Escapade" />
      </div>
      <div class="card-body">
            <h6>
                  This is a MEAN-stack based Web application that I have developed with a
                  group for an academic project. I had the role of a back-end developer
                  working with Node.JS and MongoDB. The outcome of this Web application was
                  providing information on outdoor activities (whomever provides it in a
                  specific geographical location) so it will be easier for whoever is
                  interested in seeking to plan to take part in an outdoor activity to do
                  so.
            </h6>
      </div>
</div>

<!-- Uses Bootstraps card to hold my image of a project I've done and the description of it
     with other bootstrap styling and custom CSS -->
<div class="container spaceListOfProjects">
      <div class="card">
            <img src="Assets/images/Java_Restaurant_WebApp.png" class="img-fluid" alt="Add menu items order page" />
      </div>
      <div class="card-body">
            <h6>
                  This is a Java EE based Web application that I have developed for an
                  academic project. I had the role of a full-stack developer working with
                  JSP, Servlets, and JPA using MYSQL. The outcome of this Web application
                  was to provide information on what an Asian Cuisine Restaurant offers
                  based on food items and other special dishes. This allowed the user to
                  order the given items and have their order either picked up at the
                  restaurant or delivered to them.
            </h6>
      </div>
</div>