<!-- Services Page -->
<!-- Title -->
<h1 id="centreTitle" class="display-4 titleFont"><%= title %></h1>
<br />
<br />
<h4>I provide various types of services. Some of those services are:</h4>
<br />
<!-- Content Section -->
<!-- The content here contains images for services that I offer along with a paragraph to describe each one wrapped in a Bootstrap container
     with custom CSS -->
<div class="container spaceListOfServices">
  <div class="row">
    <div class="col-md-6">
      <!--Java logo from: https://freebiesupply.com/logos/java-logo/-->
      <img class="centreImageForServicesFirstRow" src="Assets/images/java-logo.png" style="width: 300px; height: 220px"
        alt="Java Technologies" />
      <br />
      <br />
      <h6 class="fontForParagraph">
        Java programming: Java applications, Java EE (J2EE) applications with
        JPA, JavaFX applications, and AWT applications.
      </h6>
    </div>
    <div class="col-md-6">
      <!--HTML5, CSS, JavaScript logos from: https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/90562701/original/2efb936eb6ad65c1257e56f9ff1c16ab104bbf8d/fix-any-html-css-javascript-errors-website-bugs-or-issues.png-->
      <img class="centreImageForServicesFirstRow" src="Assets/images/html-css-javascript-logo.png"
        style="width: 320px; height: 200px; margin-top: 1.1rem" alt="Web Development" />
      <br />
      <br />
      <h6 class="fontForParagraph">
        Web Application development (full stack) including MEAN, MERN, also
        HTML, CSS, JavaScript as front-end and Java, C#, Python as back-end.
      </h6>
    </div>
  </div>
  <div class="row spaceListOfServices">
    <div class="col-md-6">
      <!--Database logo from: https://pngimage.net/wp-content/uploads/2018/05/database-logo-png-7.png-->
      <img class="centreImageForServicesOtherImages" src="Assets/images/database-logo.png"
        style="width: 180px; height: 180px;" alt="Database Development" />
      <br />
      <br />
      <h6 class="fontForParagraph">
        Database Development: Oracle Database, MSSQL (Microsoft SQL) Server,
        MongoDB, Firebase, MYSQL
      </h6>
    </div>
    <div class="col-md-6">
      <!--Android logo from: https://pngimage.net/wp-content/uploads/2018/06/mobile-app-development-icon-png-4.png-->
      <img src="Assets/images/mobile-app-development.png" style="width: 330px; height: 220px; margin-left: 4.5rem"
        alt="Mobile Development" />
      <br />
      <br />
      <h6 class="fontForParagraph">
        Mobile application development: Android, Swift (iOS Development), and
        MEAN/MERN-stack.
      </h6>
    </div>
  </div>
  <div class="row spaceListOfServices">
    <div class="col-md-6">
      <!--Dot-Net logo from: https://seeklogo.com/images/M/microsoft-net-logo-631EFE744A-seeklogo.com.png-->
      <img class="centreImageForServicesOtherImages" src="Assets/images/microsoft-net-logo.png"
        style="width: 190px; height: 190px;" alt="Dot-Net" />
      <br />
      <br />
      <h6 class="fontForParagraph">
        .NET Programming: C#, WPF, ASP.NET, and ASP.NET Core 2
      </h6>
    </div>
  </div>
</div>
