<!-- Home Page -->
<!-- Title of page -->
<h1 id="centreTitle" class="display-4 titleFont">
  Welcome to my {{ title }} Page!
</h1>
<br />
<!-- Content Section -->
<!-- Has an article element to put it in a article like format to describe my mission statement and welcome message with custom CSS -->
<article>
  <h6 class="fontForParagraph">Welcome to my <b>Portfolio Website!</b></h6>
  <br />
  <p class="fontForParagraph">
    This is a portfolio website based on myself <i>Ali Mokheamer</i>. The main
    goal of this website is to advertise myself (skills, abilities, experience,
    etc.). This site covers:
  </p>
  <ol>
    <li>Biography about myself (<a routerLink="/about">About</a>)</li>
    <li>My education (also in about page, link above)</li>
    <li>
      My projects (desktop apps and web apps) (<a href="/projects">Projects</a>)
    </li>
    <li>Services I offer a.k.a skills (<a routerLink="/services">Services</a>)</li>
  </ol>
  <br />
  <p class="fontForParagraph">
    If you are interested in my abilities and skills that I currently have and
    would like to reach me for further information, navigate over to the
    <a routerLink="/contact">Contact</a> page. I'll try to respond to inquiries as
    soon as possible.
  </p>
</article>
