body#content{
    padding-top: 65px;
}

#logoSpacing{
    margin-left: 4%;
}

#contentOfPage{
    margin: 0 auto;
}

#centreTitle{
    text-align: center;
}

.navbar{
    background: #123C69;
}

ul.alignElement{
    margin-left: 20%;
}

h1.headerForPage{
    margin: auto;
}
p#introParagraph{
    text-align: center;
}

.spaceMenuItem{
    margin: 0 0 0 30px;
}

#rotateTheImage{
    transform: rotate(-90deg);
}