body#content{
    padding-top: 75px;
}

#logoSpacing{
    margin-left: 4%;
}

#contentOfPage{
    margin: 0 auto;
}

#centreTitle{
    text-align: center;
}

.navbar{
    background: #123C69;
}

ul.alignElement{
    margin-left: 22%;
}

h1.headerForPage{
    margin: auto;
}

.centreContent{
    align-items: center;
}

p#introParagraph{
    text-align: center;
}

.spaceMenuItem{
    margin: 0 0 0 1.5rem;
}

#rotateTheImage{
    transform: rotate(-90deg);
}

.fontForParagraph{
    font-family: Roboto, Arimo, Verdana, Arial, Helvetica, sans-serif;
}

.titleFont{
    font-family: Helvetica, Lato, sans-serif;
}

.footer_content{
    padding: 40px 0;
    background-color: lightgrey;
    color: #4b4c4d;
}

.footer_content .socialMedia{
    text-align: center;
    padding-bottom: 25px;
}

.footer_content ul{
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer_content li{
    padding: 0 10;
}

.link-item{
    display: inline-block;
}

.textarea{
    width: 600px; 
    resize: none;
}

.spaceListOfServices{
    margin-top: 4.5rem;
}

.spaceListOfProjects{
    margin-top: 5rem;
}

.centreImageForServicesOtherImages{
    margin-left: 8rem;
}

.centreImageForServicesFirstRow{
    margin-left: 5rem;
}