<br />
<br />
<br />
<br />
<div class="container">
  <div id="contentOfPage">
    <div class="row">
      <div id="centreTitle" class="col col-md-12">
        <h1 class="display-4 titleFont">Error: 404 - Page Not Found</h1>
        <br />
        <p class="fontForParagraph fontSizeForContent">Oops, looks like you tried to go somewhere that's not here.</p>
        <a routerLink="/" class="btn btn-secondary btn-md"><i class="fas fa-directions fa-lg"></i> Go back to Home</a>
      </div>
    </div>
  </div>
</div>
